
[Unit]
Description=DROP Gateway API

[Service]
Type=simple

User=drop-core
Group=drop-core

EnvironmentFile=/etc/drop-env

WorkingDirectory=/opt/drop-gateway-api
ExecStart=/opt/drop-gateway-api/start
ExecStop=
KillMode=process
KillSignal=SIGKILL

Restart=on-failure

[Install]
WantedBy=multi-user.target
